---
import Container from "@/components/ui/Container.astro";
import RoleTabs, { type RoleTabsProps } from "./RoleTabs";
import { type Lang } from "@/i18n/config";
import { getTranslations } from "@/i18n/utils";

interface Props {
	lang: Lang;
}

const { lang } = Astro.props;
const roleTabsData = getTranslations(lang, "roleTabs") as RoleTabsProps["translations"];
---

<section class="section-spacing bg-secondary">
	<Container>
		<div data-animate>
			<RoleTabs
				translations={roleTabsData}
				client:visible
			/>
		</div>
	</Container>
</section>
